body{
    font-family: 'Abel' !important;
    background-size: 100%;
}

footer{
    background-color: #0D4365;
    color: white;
}


footer div a{
    text-decoration: none;
    color: white;
}

footer ul{
    list-style: none;
}

.contenedor{
    border: 1px solid black;
    margin: 0 10%;
    padding: 0px;
    width: 1003px;
    height: 100%;
    margin: 0px auto;
}

.encabezado{
    margin:0px auto;
    background-color: black;
    color: white;
    padding-left: 33%;
    padding-right: 15%;
    font-family: 'Abel';
}

.mapa{
    margin-left: 14%;
}

.contenedor2{
    border: 1px solid black;
    background-color: white;
    /*margin: 20px, 20px,20px,20px ;*/

}
.contenedor2 li {
    
    list-style:none;  
}

.contenedor2 li a{
    color:black ;
    text-decoration: none;
}

.contenedor2 a:hover,
.contenedor2 a:focus{
    color:red;
}


#rutapop{

    width: 100px;
    position:absolute;
    background:yellow;
    font:normal 10px/10px verdana;
    color:black;
    border:solid 1px black;
    top: 550px;
    left: 125px;
    text-align:justify;
    padding:10px 10px 10px 10px;
}

map {position: absolute;}
area{
    position: absolute;
}